div {
	//border: 1px solid red;
}


.main {
	margin:0 20px;
}
.container {
	padding-top:50px;
}
.top-section{
	margin:0 0 30px;
}
.profile-picture {
	width:100%;
	overflow:hidden;
	height:auto;
}
.thesis-list{
	margin:10px 0 70px;
}
#profile {
	width:200px;
	height:200px;
	display:inline-block;
	background: url(../img/default-profile.png) no-repeat;
	background-position: top;
	background-size: cover;
	overflow: hidden;
}
#profile img {
	width: 100%;
}
#cloud {
	width: 235px;
	height: 200px;
	z-index:99999;
	position: absolute;
}
#cloud *, #cloud * * {
	z-index:99999;
}
.contact-table {
	min-width:450px;
}
#contact-info {
	padding:0 15px;
	width:auto;
	display:inline-block;
}
@media screen and (max-width:767px){
	.main { 
		margin:10px;
	}
}
.contact-table tr td:nth-child(1) {
	text-align:right;
}
.chars {
	margin:20px 0;
}
.char-title {
	font-size:18px;
	padding:5px 0;
}
.char-review {
	font-size:13px;
	margin-top:8px;
}
.char-review span {
}

.review {
	font-size:16px;
	font-weight:700;
}
.progress.col-sm-6 {
	border-radius:0;
	padding:0;
}
.progbar {
	height:18px;
	vertical-align:middle;
}
.progbar .progress {
	margin:0;
}
.progbar .progress:nth-child(1) div {
	float:right;
}
.freedom-desc {
	font-size:10px;
	font-weight:300;
	text-align:left;
}
.freedom-desc div {
	padding:0;
}
.freedom-desc div:nth-child(2) {
	text-align:right;
}
td span.imie {
	font-size:16px;
	font-weight:700;
}
.char-review i.fa { 
	font-size: 2em;
}

