#steps div {
	float: left;
	border-bottom: 2px solid red;
	width: 33%;
	padding: 5px 0 10px 0;
	margin-bottom: 5px;
	cursor: pointer;
}

#steps div.current {
	border-color: blue;
}

.question div {
	text-align: left;
}

#steps div.done {
	border-color: green;
}

.question {
	height: 150px;
	padding: 20px 0;
}
